<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <location path="public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="private">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

      
      <sessionState cookieless="="
      <httpModules>
        <add name="MyModule" type="Mod03_WebApplications.Session2WebApp.MyModule"/>
      </httpModules>
      <httpHandlers>
        <add verb="GET" path="public/Login" type="Mod03_WebApplications.Session2WebApp.Code.MyDummyHandler"/>
      </httpHandlers>
    </system.web>

</configuration>
